.row {
  padding: 20px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid #dedede;
}

.row:hover {
  background: #fafafa;
}

/* Show/hide sort row icon. */
.row .row-sort-icon {
  width: 25px;
  color: #acacac;
}

.row .glyphicon-sort {
  display: none;
}

.row:hover .glyphicon-sort {
  display: block;
}

.row .glyphicon-sort:hover {
  cursor: move;
}

/* Status indicator icons. */
.row .glyphicon-ok {
  color: green;
}
.row .glyphicon-remove {
  color: red;
}