<template name="Layout">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-right">

      <p class="navbar-text host-count">Hosts <span class="badge">{{totalHosts}}</span></p>
      <a href="{{pathFor 'notifications'}}" class="btn btn-sm btn-success navbar-btn">Notifications</a>
      <a href="{{pathFor 'host.create'}}" class="btn btn-sm btn-success navbar-btn">Create Host</a>

      <button type="button" class="btn btn-primary navbar-btn btn-sm" id="login">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          Log in
      </button>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="logo" src="http://placehold.it/50x50&text=logo" alt="Syrinx" />
      </a>
      <h2 class="site-name">Syrinx <small>Application Management</small></h2>
    </div>

  </div>
</nav>

<div class="content">
  {{> yield}}
</div>

</template>
