/*
 * Master Layout CSS
 */

/* Padding for fixed navbar. */
body {
  padding-top: 80px;
}

.navbar-header {
  width: 45%;
}

/* Align site name in navbar. */
.navbar-header h2 {
  margin-top: 15px;
}

/* Edit for logo size. */
.navbar-brand {
  height: 60px;
  padding: 5px 10px 0;
}

.navbar-right {
  margin-right: 0;
}
